---
title: 主页
description: 
image: /assets/img/home.jpg
bottom_image: /assets/img/home_2.jpg
---
<span id="top"></span>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Welcome to pandaBlog</h1>
			<p class="subtext editable">这里会记录一些日常趣事和项目历程.</p>
			<div class="cta button alt">
				<a href="/cat/">欸  嘿</a>
			</div>
		</div>
	</div>
	<div class="learn-more">
		<a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">关于这个网站</h2>
				<p class="editable">再次欢迎来到这里！<br>初衷当然是用来记录生活和工作日志的啦. <br>虽然有其他社交平台可以干这件事, 但是作为一个CSE学生还是更想要自己搭一个网站自己管理. <br>而且博客网站这种东西需要别人主动输网址之后才能查看到里面的内容, 所以一些在其他社交平台不适合发布的东西可以塞在这里(比如专业相关的).</p>
				<p class="editable">通过顶部/底部导航栏可以切换栏目! </p>
				<div class="button" style="margin: 20px;">
					<a href="/intro/">介绍详情页</a>
				</div>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/03/12/ppMBVET.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">关于移动端界面</h2>
				<p class="editable">右上角菜单按钮无法触发的bug已经于2023/4/24修复完毕！<br>不过移动端的图片排版不是很好看(特别是你现在正在看的这一部分)<br>建议在PC端访问以获得最佳访问体验喔！</p>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/03/12/ppMYFRP.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">最近在干什么...</h2>
				<p class="editable">在学Rust。在跑yolo。<br>在看日落。在发呆。。</p>
				<p class="editable">06/04 00:59: 宵宫第二章任务做着做着掉眼泪了。不过呢，是很开心的那种眼泪。<br>为宵宫感到开心！能有旅行者和派蒙为自己一路上付出这么多来守护自己的梦。</p>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/06/12/pCZRhLj.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">更多内容开发中...</h2>
				<p class="subtext editable">Ad astra abysossque.</p>
				<div class="cta button alt"><a href="#top">回到顶部</a></div>
			</div>
		</div>
	</section>
</div>

