---
title: Home
description: 
image: https://s1.ax1x.com/2023/03/12/ppM9KZd.jpg
bottom_image: https://s1.ax1x.com/2023/03/12/ppMP25R.jpg
---
<span id="top"></span>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Welcome to pandaBlog</h1>
			<p class="subtext editable">这里会记录一些日常趣事和项目历程.</p>
			<div class="cta button alt">
				<a href="#">欸  嘿</a>
			</div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">关于这个博客网站</h2>
				<p class="editable">初衷当然是用来记录生活和工作日志的啦. 虽然有其他社交平台可以干这件事, 但是作为一个CSE学生还是更想要自己搭一个网站自己管理. 而且博客网站这种东西需要别人主动输网址之后才能查看到里面的内容, 所以一些在其他社交平台不适合发布的东西可以塞在这里(比如专业相关的). 详细内容可通过顶部/底部导航栏切换栏目查看!</p>
				<p class="editable">然后的话看过一些师兄和同学做的网站, 一些该有的功能以后应该都会加进来, 敬请期待吧!</p>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/03/12/ppMBVET.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">关于移动端界面</h2>
				<p class="editable">目前右上角的菜单按钮还没完善好(暂时是回到顶部功能), 要切换到其他栏目的话需要通过底部导航栏来完成. 还是建议在PC端访问喔</p>
				<p class="editable">(另外, panda左边那个图案是某天早上乱涂乱画的时候画出来的, 感觉还不赖就拿来当图标了哈哈哈哈哈哈哈</p>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/03/12/ppMYFRP.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">最近在干什么...</h2>
				<p class="editable">深度学习的模型推理加速, 还有捣鼓Github上面有趣的开源程序(图文无关)</p>
			</div>
			<div class="image">
				<img class="editable" src="https://s1.ax1x.com/2023/03/12/ppMBDqP.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">更多内容开发中...</h2>
				<p class="subtext editable">Ad astra abysossque.</p>
				<div class="cta button alt"><a href="#top">回到顶部</a></div>
			</div>
		</div>
	</section>
</div>

