.addon{
    padding: 50px 0;
    border-bottom: solid 5px gray;

    h2{
        font-size: 36px;
    }

    .img-holder{
        display: flex;
        justify-content: center;

        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}