html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}

a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 3.8em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 3em;
	margin: 0 0 30px 0;
	line-height: 1.2em;
}

h3 {
	margin: 20px 0 10px 0;
}

h2 a {
	color: #000;

	&:hover {
		text-decoration: none;
	}
}

p, address, ul {
	font-size: 1.1em;
	margin-bottom: 16px;
	font-weight: 300;
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
}

ol > li {
	font-size: 1.1em;
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
}

table {
	padding: 0; 
	width: 80%;
	margin: auto 0;
}
  
table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0; 
}


table tr:nth-child(2n) {
	background-color: #f8f8f8; 
}

// 表头
table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: center;
	margin: 0;
	padding: 6px 13px; 
}

// 表格数据
table tr td { 
	border: 1px solid #cccccc;
	text-align: center;
	margin: 0;
	padding: 6px 13px; 
}

table tr th :first-child, table tr td :first-child {
	margin-top: 0; 
}

table tr th :last-child, table tr td :last-child {
	margin-bottom: 0; 
}