---
title: 探索
description: blogs about some projects
image: /images/bgi/blog.png

---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">printf("Hi\n");</h1>
			<p class="subtext editable">在 0 和 1 的世界里漫游</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>

		<div class="github">
			<h2>Github Recently:</h2>
			<div class="img-holder">
				<img src="https://ghchart.rshah.org/pandacase" alt="pandacase's Github chart">
			</div>
		</div>


		<!-- 文章列表 -->
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		<!-- 分页链接 -->
		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
				{% endif %}

				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>

