---
title: 见闻
description: 
image: /images/bgi/daily.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">背景好像一个树洞啊</h1>
			<p class="subtext editable">生活在这里留下脚印</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<!-- test -->
		<div class="text-container">
			<div class="addon">
				<h2>最近在听: </h2>
				<div class="content-holder">
					<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="480" height="96" src="//music.163.com/outchain/player?type=2&amp;id=571059454&amp;auto=0&amp;height=66"></iframe>
				</div>
			</div>

			<ul class="blog-posts">
				{% for post in site.posts %}
					{% if post.categories[0] == "Daily" %}
					<li class="blog-post">
						<h2><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
						{% include post-title.html post=post %}
						<div class="post-content">
							{{ post.excerpt }}
							<div class="button"><a href="{% include relative-src.html src=post.url %}">查看文章</a></div>
						</div>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>


		<!-- origin -->
		<!-- <p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul> -->
	</div>
</section>

