<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/font-family.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

		<!-- 代码块和高亮渲染 -->
		<!-- <link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/combine/npm/prismjs@1.21.0/plugins/line-numbers/prism-line-numbers.min.css,npm/prismjs@1.21.0/plugins/toolbar/prism-toolbar.min.css,npm/prismjs@1.21.0/plugins/match-braces/prism-match-braces.min.css,npm/prism-themes@1.4.0/themes/prism-nord.min.css"
		/>
		<script
		src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.21.0/components/prism-core.min.js,npm/prismjs@1.21.0/plugins/autoloader/prism-autoloader.min.js,npm/prismjs@1.21.0/plugins/line-numbers/prism-line-numbers.min.js,npm/prismjs@1.21.0/plugins/toolbar/prism-toolbar.min.js,npm/prismjs@1.21.0/plugins/match-braces/prism-match-braces.min.js"
		async="async" data-autoloader-path="https://cdn.jsdelivr.net/npm/prismjs@1.21.0/components/">
		</script> -->
		<!-- onload='
		document.body.classList.add("line-numbers","match-braces");
		Prism.plugins.toolbar.registerButton("select-code", function (env) {
		let button = document.createElement("button");
		button.textContent = "select this " + env.language;
		button.addEventListener("click", function () {
			if (document.body.createTextRange) {
			let range = document.body.createTextRange();
			range.moveToElementText(env.element);
			range.select();
			} else if (window.getSelection) {
			let selection = window.getSelection();
			let range = document.createRange();
			range.selectNodeContents(env.element);
			selection.removeAllRanges();
			selection.addRange(range);
			}
		});
		return button;
		})' -->


		<!-- 流程图渲染 -->
		<style>
			pre.language-mermaid,
			code.language-mermaid {
			  display: none;
			}
		  </style>
		  <script
			src="https://cdn.jsdelivr.net/npm/mermaid@8.7.0/dist/mermaid.min.js"
			defer="defer"
			onload='
			  for(let x of document.getElementsByClassName("language-mermaid"))
				if(x.nodeName=="CODE")
				{
				  let m = document.createElement("div");
				  m.classList.add("mermaid");
				  m.textContent = x.textContent;
				  x.parentNode.insertAdjacentElement("beforebegin", m);
				}'
		  ></script>
		  
		<!-- 公式渲染 -->
		<link
			rel="stylesheet"
			href="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
		/>
		<script
			src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
			defer="defer"
		></script>
		<script
			src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
			defer="defer"
			onload='renderMathInElement(document.body, { delimiters: [{left: "$$", right: "$$", display: true}, { left: "$", right: "$", display: false }, {left: "\\(", right: "\\)", display: false}, {left: "\\[", right: "\\]", display: true}]})'
		></script>
		<script
			src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/mathtex-script-type.min.js"
			defer="defer"
		></script>

		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?c2ad761647d1d325f560333ca418dbfa";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
			})();
		</script>

		<!-- Valine -->
		<script src='{{ site.baseurl }}/js/Valine.min.js'></script>
	</head>

	<body>
		<header id="mainHeader">
			<div class="container">
				<div class="company-name">
					<a href="{{ site.baseurl }}/">
						<span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/dark.svg" alt="dark logo"></span>
						<span class="light-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/light.svg" alt="light logo"></span>
					</a>
				</div>
				{% include navigation.html %}
				<p class="editor-link"><a style="display:inline;" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a></p>
			</div>
		</header>

		{{ content }}

		<footer>
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Edit footer</a></p>
				<ul class="footer-left-links">
					{% for link in site.data.footer.left_links %}
						<li>
							<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
								{% if link.social_icon %}{% include social-icon.html icon=link.social_icon %}{% endif %}
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
				<ul class="footer-right-links">
					{% for link in site.data.footer.right_links %}
						<li>
							<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
								{% if link.social_icon %}{% include social-icon.html icon=link.social_icon %}{% endif %}
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
				<p class="copyright">
					<a href="https://github.com/CloudCannon/frisco-jekyll-template">
						Theme:Frisco
					</a>
				</p>
			</div>
		</footer>

		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
